@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300,400);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
body {
  background: #2c3338;
  color: #9900CC;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}
#header
{
	font-family: 'Press Start 2P', sans-serif;
	font-size: 350%;


}
.nav ul {
  list-style: none;
  background-color: #9900CC;
  text-align: center;
  padding: 0;
  margin: 10%;
  border-radius: 15px;
}
.nav li {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #7A00CC;
}
 
.nav a.active {
  background-color: #7A00CC;
  color: #fff;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

