@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
body {
  background: #2c3338;
  color: #9900CC;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

